{% extends 'base.html' %}

{% block title %} Lunch Time Contests {% endblock %}
{% block content %}
<div class="box">
    <p style="text-align: center; margin-right: 25px;"><b>LunchTime</b></p>
    <p style="text-align: center;">There are two divisions in LunchTime. Choose the division of which you want to view the questions.</p>
</div>
<button style="cursor: pointer; margin-top: 50px; margin-left: 360px; width: 200px; height: 50px; font-size: 1.2em; background-color: limegreen; border-radius: 5px; border-color:limegreen;" onclick="location.href='/lunch_time/division1'">Division 1</button>
<button style="cursor: pointer; margin-top: 50px; margin-left: 200px; width: 200px; height: 50px; font-size: 1.2em; background-color: limegreen; border-radius: 5px; border-color:limegreen;" onclick="location.href='/lunch_time/division2'">Division 2</button>
{% endblock %}