{% extends 'base.html' %}

{% block title %} One 2 Seven Stars {% endblock %}
{% block content %}
<div class="box">
    <p style="text-align: center; margin-right: 25px;"><b>Purpose</b></p>
    <p>If you are into competitive programming then you must have heard about Codechef. And those who don't, Codechef is a competitive programming website  aimed at providing a platform for students, young software professionals to practice, hone their programming skills through online contests. It organises 3 major contests every month, Codechef Long Challenge, Codechef Cook-off, and Codechef LunchTime.</p><p> Sometimes we want questions of all these contests at a single place sorted based on thier difficulty. And this is where <b>one2sevenstars</b> help you. You only need to choose contest name and the division.<br> Links are taken from <a href="https://www.codechef.com/">Codechef</a>.</p>
</div>
<button style="cursor: pointer; margin-top: 50px; margin-left: 280px; width: 200px; height: 50px; font-size: 1.2em; background-color: limegreen; border-radius: 5px; border-color:limegreen;" onclick="location.href='long/'">Long Challenges</button>
<button style="cursor: pointer; margin-top: 50px; margin-left: 75px; width: 200px; height: 50px; font-size: 1.2em; background-color:limegreen; border-radius: 5px; border-color: limegreen;" onclick="location.href='cook_off/'">Cook-Off</button>
<button style="cursor: pointer; margin-top: 50px; margin-left: 75px; width: 200px; height: 50px; font-size: 1.2em; background-color:limegreen; border-radius: 5px; border-color: limegreen;" onclick="location.href='lunch_time/'">LunchTime</button>
{% endblock %}