{% extends 'base.html' %}

{% block title %} Division 2 {% endblock %}

{% block style %}
    table, th, td 
    {
      border: 1px solid black;
    }
    th, td {
      padding: 5px;
      text-align: center;
    }
{% endblock %}

{% block content %}
    <div class="box">

    </div>
    <div class="smallbox">
        <table style="width:90%; margin-left: auto; margin-right: auto;">
            <tr>
                <th>ID</th>
                <th>Problemset Type</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="/long/division2/a/">Problem Type A</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/long/division2/b/">Problem Type B</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/long/division2/c/">Problem Type C</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="/long/division2/d/">Problem Type D</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="/long/division2/e/">Problem Type E</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td><a href="/long/division2/f/">Problem Type F</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="/long/division2/g/">Problem Type G</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td><a href="/long/division2/h/">Problem Type H</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="/long/division2/i/">Problem Type I</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td><a href="/long/division2/j/">Problem Type J</a></td>
            </tr>
        </table>
    </div>
{% endblock %}